.container.app
  .row.app-one
    .col-sm-4.side
      .side-one
        .row.heading
          .col-sm-3.col-xs-3.heading-avatar
            .heading-avatar-icon
              %img{:src => "https://bootdey.com/img/Content/avatar/avatar1.png"}/
        .row.searchBox
          .col-sm-12.searchBox-inner
            .form-group.has-feedback
              %input#searchText.form-control{:name => "searchText", :placeholder => "Search", :type => "text"}/
              %span.glyphicon.glyphicon-search.form-control-feedback
        .row.sideBar
          - @users.each_with_index do |u, i|
            .row.user.sideBar-body{class: "#{'active' if i.zero? }", data: {user_id: u.id}}
              .col-sm-3.col-xs-3.sideBar-avatar
                .avatar-icon
                  %img{:src => "https://bootdey.com/img/Content/avatar/avatar1.png"}/
              .col-sm-9.col-xs-9.sideBar-main
                .row
                  .col-sm-8.col-xs-8.sideBar-name
                    %span.name-meta= u.nickname
                  .col-sm-4.col-xs-4.pull-right.sideBar-time
                    %span.time-meta.pull-right
                      18:18
    .col-sm-8.conversation
      .row.heading
        .col-sm-2.col-md-1.col-xs-3.heading-avatar
          .heading-avatar-icon
            %img{:src => "https://bootdey.com/img/Content/avatar/avatar6.png"}/
        .col-sm-8.col-xs-7.heading-name
          %a.heading-name-meta
            John Doe
          %span.heading-online Online
      #conversation.row.message
        .row.message-previous
          .col-sm-12.previous
            %a#ankitjain28{:name => "20", :onclick => "previous(this)"}
              Show Previous Message!
        - if @chat
          - @chat.messages.each do |m|
            - if m.author != current_user
              .row.message-body
                .col-sm-12.message-main-receiver
                  .receiver
                    .message-text= m.text
                    %span.message-time.pull-right
                      Sun
            - else
              .row.message-body
                .col-sm-12.message-main-sender
                  .sender
                    .message-text= m.text
                    %span.message-time.pull-right
                      Sun
      .row.reply
        .col-sm-1.col-xs-1.reply-emojis
          %i.fa.fa-smile-o.fa-2x
        .col-sm-9.col-xs-9.reply-main
          %textarea#comment.form-control{:rows => "1"}
        .col-sm-1.col-xs-1.reply-recording
          %i.fa.fa-microphone.fa-2x{"aria-hidden" => "true"}
        .col-sm-1.col-xs-1.reply-send
          %i.fa.fa-send.fa-2x{"aria-hidden" => "true"}
