<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login V2</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'util' %>
</head>
<body>
  <%= yield%>

   <%= javascript_include_tag 'main' %>

</body>
</html>